.logo{
    margin-left: 160px;
}
.menu{
    margin-left: 1070px;
   margin-top: -80px;
}
.name{
    margin-left: 800px;
    

}
.text1{
    margin-top: 284px;
    margin-right: 371px;
}